@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary: #041B15;
    --secondary-color: #2541B2;
    --text-color: #000;
    --paragraf-color: rgba(0, 0, 0, 0.593);
    --header-color: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgba(204, 204, 204, 0.157);
}



.btn {
    text-decoration: none;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    transition: .3s linear;
}

.btn:hover {
    background-color: var(--primary);
    transform: scale(1.1);
    color: var(--header-color);
}

/* Seção 1 */
.container {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}

.section-1 {
    width: 1120px;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .1)), url('img/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 1120px; */
    width: 100%;
}

.section-1 .content {
    width: 55%;
    /* display: flex;
    flex-direction: column; */
    gap: 15px;
    padding-right: 50px;
}

.content h1 {
    font-size: 46px;
    font-weight: 700;
}

.content h3 {
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
}

.content p {
    font-size: 16px;
    font-weight: 400;
}

.content .btn {
    text-decoration: none;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    transition: .3s linear;
}

.content .btn:hover {
    background-color: var(--text-color);
    transform: scale(1.1);
    color: var(--header-color);
}

.section-1 .img-avatar {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-avatar img {
    width: 300px;
    border-radius: 100%;
    border: 2px solid #000;
    animation: float 3s ease-in-out infinite;
    box-shadow: 0 10px 10px;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px)
    }
}

/* Seção 2 */
.section-2 {
    width: 1130px;
    /* width: 100%; */
    margin: 0 auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.about .img-about {
    /* flex: 3 1 auto; */
    width: 50%;
}

.about .img-about img {
    width: 400px;
    transition: .3s linear;
    cursor: pointer;
}

.about .img-about img:hover {
    transform: scale(1.2);
}

.profiles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 50%;
    text-align: center;
}

.profiles span {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
}

.profiles p {
    font-size: 22px;
    font-weight: 400;
    color: var(--text-color);
}

/* seção 3 */
.section-3 {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.section-3 h2 {
    font-size: 36px;
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.card {
    padding: 50px;
    background-color: #fff;
    /* margin-left: 10px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    text-align: center;
    gap: 15px;
    max-height: 300px;
    box-shadow: 1px 1px 8px -5px rgba(0, 0, 0, 0.95);

}

.card i {
    font-size: 36px;
}

/* seção 4 projetos */
.section-4 {
    height: 100vh;
    width: 1120px;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.section-4 img {
    width: 50%;
}

.project-img img {
    box-shadow: 0 1px 2px #0003;
    object-fit: cover;
    width: 450px;
}

.project-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.swiper {
    width: 95vw;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: var(--primary);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--primary);
}

/* Seção de contato */
.section-5 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    /* margin: 0 auto; */
}

.section-5 form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    width: 100%;
    padding: 5px 20px;
}

input,
textarea {
    box-shadow: 0 1px 2px #ddd;
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    resize: none;
}

input[type="submit"] {
    background-color: var(--primary);
    color: var(--header-color);
    font-size: 16px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0.9;
}

input[type="submit"]:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
    opacity: 1;
}

/* rodape */
footer {
    box-shadow: 0px -1px 0px 0px #fff;
    text-align: center;
    border-top: 1px solid #041B15;
    padding: 50px;
}

/* Responsive */
@media (max-width: px) {
    header {}
}